.boxSuccess .success { background-color: #cce5ff; border-color: #b8daff; padding: 20px; margin-bottom: 20px; margin-top: 20px; }
.boxSuccess .failure { background-color: #f8d7da; border-color: #f5c6cb; padding: 20px; margin-bottom: 20px; margin-top: 20px; }
.description-field { width: 100%; }
