<mat-card id="card" style="text-align: center;">
  <mat-card-title>
    Wybierz zabawę =)
  </mat-card-title>

  <mat-card-content>
    <button [routerLink]="'/flag-tasks'" mat-button>Gra we flagi</button>
    <button [routerLink]="'/math-tasks'" mat-button>Zadania matematyczne</button>
    <button [routerLink]="'/task-generate'" mat-button>Generator zadań</button>
    <button [routerLink]="'/tasks-generated'" mat-button>Lista wygenerowanych zadan</button>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
