.flag-icon img { height: 2em; }

.fragment { text-align: center; font-size: 2em; margin-bottom: 2%; }
.fragment-name { font-size: 1.1em; letter-spacing: 4px; }
.fragment-name > strong { font-size: 1.3em; outline: 1px solid black; }

.flag-wrapper { float: left; width: 200px; height: 200px; text-align: center; }

.new-sign { font-size: 2em; }
